# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/

# Django
db.sqlite3
*.log
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
__pycache__/
*.pyc
db.sqlite3
media/
*.jpg
*.png
