/* Estilos del header  */
.miheader {
    width: 100%;
    height: 100px;
    background: #122a56;
    color: white;
    padding: 15px 0;
    text-align: center; 
    font-size: 22px;
    font-family: "Tinos", serif;
}
.logotitulo1{
    position:absolute;
    top: 0px;    
}

.logo1{
    width:150px;
    height:auto;

}
.logotitulo2{
    position:absolute;
    top:10px;      
    right:15px;    
}

.logo2{
    width:100px;
    height:auto;
}
/* Estilos del nav  */
.mimenu{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-transform: uppercase;
}
.mimenu li {
    display: inline;
    margin:0 30px ;
}
.mimenu li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #ffff;
    
}
.opcionesmenu {
    background: #122a56;    
    padding: 7px 14px;       
    border-radius: 6px;    
    transition: .3s;          
}
.opcionesmenu.active {
    background: #1e8449 !important;     /* SELECCIONADO */
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}




    .tituloventana{
    width: 100%;
    height: 50%;
    background: #122a56;
    padding: 15px 0;
    text-align: center; 
    font-size: 22px;

    }
/* Estilos del footer  */
.footeringreos{
    background:#122a56;
    color:white;
    text-align:center;
    padding:12px 0;
    font-size:15px;
    position:fixed;  
    bottom:0;
    left:0;
    width:100%;

}