/* Estilos del header  */
section{
    background-color: #a9a9a9;
    height: auto;
    width: auto;
}
.miheader {
    width: 100%;
    height: 100px;
    background: #122a56;
    color: white;
    padding: 15px 0;
    text-align: center; 
    font-size: 22px;
    font-family: "Tinos", serif;
}
.logotitulo1{
    position:absolute;
    top: 0px;    
}

.logo1{
    width:150px;
    height:auto;

}
.logotitulo2{
    position:absolute;
    top:10px;      
    right:15px;    
}

.logo2{
    width:100px;
    height:auto;
}
/* Estilos del nav  */
.mimenu{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-transform: uppercase;
}
.mimenu li {
    display: inline;
    margin:0 30px ;
}
.mimenu li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: #ffff;
    
}
.opcionesmenu {
    background: #122a56;    
    padding: 7px 14px;       
    border-radius: 6px;    
    transition: .3s;          
}
.opcionesmenu.active {
    background: #1e8449 !important;     
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}




    .tituloventana{
    width: 100%;
    height: 50px;
    background: #122a56;
    padding: 15px 0;
    text-align: center; 
    font-size: 22px;

    }
    #section{
        font-family: 'Tinos', serif;
    }

/* Estilos del footer  */
.footeringreos {
    background: #122a56;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 15px;
    position: relative;  
    width: 100%;
     margin-top: 30px;

}


/* Estilos de el dashboard  */
.contenedor {
    display: flex;
    width: 100%;
    gap: 10px;
     
}

.dashisquierda,
.dashderecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#divdash1 {
    width: 100%;
    max-width: 700px;
    height: 200px;                 
    background: #122a56;  
    color: #ffffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}



#divdash2 {
    display: flex;              /* activa Flexbox */
    justify-content: center;    /* centra horizontalmente los hijos */
    align-items: center;        /* centra verticalmente los hijos */
    gap: 20px;                  /* espacio entre los divs */
    height: 200px;              /* mantén el tamaño que quieras */
    background-color: #a9a9a9;
    padding: 20px;
    border-radius: 8px;
    margin-top:20px;
}
.divresumen {
    width: 200px;               /* ancho de cada div */
    height: 150px;              /* alto de cada div */
    background-color: #122a56;  /* color de ejemplo */
    color: white;
    display: flex;              /* centra el contenido dentro */
 
    border-radius: 8px;
    font-size: 24px;
}
.totalresumen {
    font-size: 15px;      /* tamaño de letra más pequeño */
    margin: 0 0 5px 0;    /* margen inferior para separar del contenido debajo */
    font-weight: bold;    /* negrita */
    text-align: left;     /* asegura que quede alineado a la izquierda */
}

#divdash3 {
     
    width: 703px;
    height: 400px;
     background: #122a56;  
    color: #ffffff;
    padding: 20px;
    text-align: center;
     padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
}
.tabla-movimientos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #122a56; /* fondo visible */
    color: #ffffff;           /* texto blanco */
}

.tabla-movimientos  {
    width: 100%;
    border-collapse: collapse;
    background: #122a56;
    color: #ffff;
    border-radius: 6px;
    overflow: hidden;
}

.tabla-movimientos thead {
    background: #0e2144;
}

.tabla-movimientos th {
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
}

.tabla-movimientos td {
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.tabla-movimientos tbody tr:hover {
    background: #1e8449;
}

.tipo {
    display: inline-block;  /* 🔥 importante */
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

/* Rojo para gastos */
.tipo.gasto {
    background-color:  #c0392b;
    color: #ffff;
   
}

/* Azul para ventas externas */
.tipo.venta {
    background-color:  #2980b9;
    color: #ffff;
   
}


#divdash4 {
     width: 703px;
    height: 400px;
     background: #122a56;  
    color: #ffffff;
    padding: 20px;
    text-align: center;
     padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
}
#graficoCategorias {
    display: block;
    margin: 0 auto;  /* centro horizontal */
    max-width: 70%;  /* opcional: que no ocupe todo el ancho */
    max-height: 350px; /* opcional: limitar altura */
}




/* Estilos venta externa */
#sectionjajaj{
    width: 100%;
    height: 100%;
}
.datosventaexterna {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

/* Divs internos */
#exdatos1, #exdatos2 {
    width: 48%; 
    background: #122a56;
    height: 500px;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}


#exdatos1 {
    width: 600px;
    height: 400px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
}
 #exdatos2 {
    width: 600px;   
    height: 200px;                
    background: #122a56; 
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
}
#infoventasex {
    width: 600px;
    height: 100px;
    background: #122a56;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color:#ffff;              


    
    margin-left: auto;   
    margin-right: 20px;  
    margin-top: 20px;    
}

#exdatos1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnguardar {
    background-color: #1e8449;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnguardar:hover {
    background-color: #166636;
}
.columna-columnaderechavexternas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 


/* estilos de venta interna */
#datosinterna1{
    width: 600px;
    height: 500px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
    
}
#datosinterna2{
     width: 600px;
    height: 500px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
    
}
#datosinterna3{
     width: 600px;
    height: 500px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px; 
    
}

#sec1 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
/* columna derecha */
.columna-columnaderechavexternas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* estilos de gastos */
.contenedor-gastos {
    display: flex;
    gap: 150px;
    align-items: flex-start;
}

/* columna derecha */
.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gastos1{
      width: 600px;
    height: 600px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px;
}
.gastos2 {
    width: 100%;
    max-width: 600px;
    height: 400px;                 
    background: #122a56;  
    color: #ffffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}


.gastos3{
      width: 600px;
    height: 200px;;                  
    background: #122a56;  
    color:#ffff;              
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     margin-top: 20px;
}
.gastos3 table {
    width: 100%;
    border-collapse: collapse;
    background: #122a56;
    color: #ffff;
    border-radius: 6px;
    overflow: hidden;
}

.gastos3 thead {
    background: #0e2144;
}

.gastos3 th {
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
}

.gastos3 td {
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.gastos3 tbody tr:hover {
    background: #1e8449;
}
