{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'estilos_ingresos.css' %}">

    <title>Document</title>
</head>
<body>
    <header  class="miheader">
            <div class="logotitulo1">
        <img src="{% static 'iconos_ingresos/usuarioicono.png' %}"  class="logo1">
    </div> 

     <center> <h1>REGISTAR VENTA INTERNA</h1></center>

       <div class="logotitulo2">
        <img src="{% static 'iconos_ingresos/logocecy.png' %}"  class="logo2">
    </div>
    </header>
 <nav>
            {% include "Ingresos/menu_navegacion.html" %}
    </nav>
    
    <section>

       <div class="datosventaexterna">
<form method="POST">
    {% csrf_token %}
    <div id="exdatos1">
      <h3>Información de la Venta</h3>
        {{ form.descripcion.label }} <br>
        {{ form.descripcion }} <br><br>

        {{ form.cliente_nombre.label }}
        {{ form.cliente_nombre }} <br><br>

        {{ form.cliente_contacto.label }}
        {{ form.cliente_contacto }} <br><br>

        {{ form.total.label }}
        {{ form.total }} <br><br>

        {{ form.fecha.label }}
        {{ form.fecha }} <br><br>

        {{ form.id_usuario.label }}
        {{ form.id_usuario }} <br><br>
    </div>

    <div id="exdatos2">
        <h3>Detalle de la Venta</h3>
        {{ form.materia.label }}
        {{ form.materia }} <br><br>

        {{ form.cantidad_kg.label }}
        {{ form.cantidad_kg }} <br><br>

        {{ form.precio_kg.label }}
        {{ form.precio_kg }} <br><br>

        {{ form.subtotal.label }}
        {{ form.subtotal }} <br><br>
        <br><br><br><br><br><br><br>
        <div id="infoventasex">

        </div>
    </div>
</div>
  <button type="submit" style="padding:10px 20px; background:#1a73e8; color:white; border:none; border-radius:5px;">
        Guardar Venta
    </button>
    </form>
    </section>




<footer>
      <!-- {% include "Ingresos/footter_ingresos.html" %} -->
</footer>
</body>
</html>


